@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700,800,900');

@import url("./iziToast.css");
@import url("./components/header.css");
@import url("./components/FirstScreen.css");
@import url("./components/firstSlider.css");
@import url("./components/prices.css");
@import url("./components/asort.css");
@import url("./components/advantages.css");
@import url("./components/video.css");
@import url("./components/marquee.css");
@import url("./components/about.css");
@import url("./components/feedback.css");
@import url("./components/faqs.css");
@import url("./components/catalog.css");
@import url("./components/customer.css");

* {
    font-family: "Golos Text", sans-serif;
}

:root {
    --main-green: #81b29a;
    --main-grey: #bcbcef;
    --main-purple: #3d405b;
    --main-white: #ececef;
}

body {
    background: var(--main-white);
    position: relative;
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-48 {
    margin-bottom: 48px;
}
.img100per-cover {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ov-hidden {
    overflow: hidden;
}

@media (max-width: 1150px) {
    html {
        scroll-behavior: auto;
        scroll-padding-top: 24px;
    }
}