.advantages {
    padding: 0 48px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 48px;
}
.advantages-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adv-ico {
    height: 128px;
    width: 128px;
    margin-bottom: 32px;
}
.advantages-item h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}
.advantages-item span {
    font-size: 18px;
    text-align: center;
}