.advantages {
    padding: 48px;
    gap: 48px;
    background-color: var(--main-green);
}
.advantages-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
}
.advantages-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adv-ico {
    height: 128px;
    width: 128px;
    margin-bottom: 32px;
}
.advantages-item h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}
.advantages-item span {
    font-size: 18px;
    text-align: center;
}
@media (max-width: 1022px) {
    .advantages-item {
        width: 32%;
        margin-bottom: 24px;
    }
    .adv-ico {
        height: 96px;
        width: 96px;
        margin-bottom: 16px;
    }
}
@media (max-width: 768px) {
    .advantages {
        padding: 24px 0;
    }
    .advantages-item {
        width: 44%;
        margin-bottom: 24px;
    }
    .adv-ico {
        height: 48px;
        width: 48px;
        margin-bottom: 16px;
    }
    .advantages-item h3 {
        font-size: 24px;
    }
    .advantages-item span {
        font-size: 14px;
    }
}
@media (max-width: 360px) {
    .advantages {
        padding: 24px 0;
    }
    .advantages-item {
        width: 44%;
        margin-bottom: 22px;
    }
    .adv-ico {
        height: 36px;
        width: 36px;
        margin-bottom: 16px;
    }
    .advantages-item h3 {
        font-size: 20px;
    }
    .advantages-item span {
        font-size: 14px;
    }
}