
.video-content {
    padding: 96px;
    border-radius: 44px;
    background-color: var(--main-green);
    overflow: hidden;
}
.video-section h2 {
    font-size: 68px;
    margin-bottom: 60px;
    text-align: center;
}

@media (max-width: 800px) {
    .video-section h2 {
        font-size: 32px;
        margin-bottom: 24px;
    }
    .video-content {
        padding: 24px;
    }
}
@media (max-width: 400px) {
    .video-section h2 {
        font-size: 28px;
    }
}